<div class="table-responsive hidden-xs-down">
	<table id="dataTable1" cellspacing="1" class="tablesorter table table-condensed">
	  <thead>
	    <tr>
			<% t.self.headerDisplay.forEach(function(d){%>
				<th><%=d%></th>
			<%})%>
	    </tr>
	  </thead>
	  <tbody>
			<% t.data.forEach(function(row){%>
				<tr role="row">
					<% t.self.dataColumnHeaders.forEach(function(header, index){											
						var value = row[header];
						var formater = t.self[t.self.formats[index]] || t.self.text
						if (index == 0){%>
							<th><%=value%></th>
						<%}else{%>
							<td class="<% if(header == t.self.initialSort){%>highlight <%}%> <%=header%>"><%=formater(value)%></td>	
						
					<%}})%>
				</tr>
			<%})%>	  
	  </tbody>
	</table>
</div>
<div class="table-mobile-version hidden-sm-up">
	<%t.data.forEach(function(d){
		t.self.dataColumnHeaders.forEach(function(key,i){
			var formater = t.self[t.self.formats[i]] || t.self.text%>
			<%if(i ==0){%>
				<div class="header"><%=formater(d[key])%></div>
			<%}else{%>
				<div class="row">
					<div class="category col-xs-6"><%=t.self.headerDisplay[i]%></div>
					<div class="value text-right col-xs-6"><%=formater(d[key])%></div>
				</div>
			<%}%>
		<%})%>	
	<hr>

	<%})%>

</div>